@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  /*ставить на 'початку' базовий шрифт, оптимізація*/
  font-display: swap;
  line-height: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
  font-display: swap;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Gotham Pro";
  font-size: 14px;
}

/* @media (min-width: 992px) {
  .burger-menu {
    display: none;
  }
} */

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.text_sixt {
  font-size: 16px;
}

.text_eight {
  font-size: 18px;
}

.text_color {
  color: #f6f6f6;
}

.header_main {
  height: 80px;
  background: linear-gradient(90deg, #0c8180, #304659);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 17px;
}

.logo_img {
  min-height: 30px;
}

.wide_screens {
  display: flex;
  gap: 255px;
}

.ws_right {
  display: flex;
  gap: 44px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.top_menu {
  display: flex;
  gap: 30px;
}

.burger-menu_img {
  height: 26px;
}

.header_bottom {
  padding: 8px 150px;
  background-color: #304659;
  display: flex;
  gap: 120px;
  align-items: center;
  font-weight: bold;
}

.bottom_menu {
  display: flex;
  gap: 80px;
}

.header_btn {
  width: 229px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.breadcrumb {
  display: flex;
  gap: 4px;
  padding: 10px 10px;
}

.article_img {
  width: 100%;
  min-height: 300px;
}

.article_text {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 26px 27px 22px 27px;
  border: 1px solid #dddddd;
}

.card_img {
  min-height: 369px;
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-self: flex-start;
}

.card_btn {
  border: 1px solid #262629;
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_main {
  background-color: #0c8180;
  font-weight: bold;
  padding: 30px 20px;
}

.footer_main p,
a {
  font-size: 16px;
}

.footer_indents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inform_gen {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
