@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  /*ставить на 'початку' базовий шрифт, оптимізація*/
  font-display: swap;
  line-height: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
  font-display: swap;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Gotham Pro";
  font-size: 14px;
}

.main-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.text_sixt {
  font-size: 16px;
}

.text_eight {
  font-size: 18px;
}

.text_bold {
  font-weight: bold;
}

.color_white {
  color: #f6f6f6;
}

.wide_screen {
  display: none;
}

.header_main_color {
  background: linear-gradient(90deg, #0c8180, #304659);
}

.header_bottom_color {
  background-color: #304659;
}

.header_main {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 13px;
}

.logo_img {
  min-height: 30px;
}

.logo_text {
  display: block;
}

.header_top {
  display: flex;
  gap: 50px;
}

.ws_right {
  display: flex;
  gap: 40px;
}

.top_menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.burger-menu_img {
  height: 26px;
}

.header_bottom {
  padding-block: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_menu {
  display: flex;
  gap: 50px;
}

.header_btn {
  width: 229px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.breadcrumb {
  display: flex;
  gap: 4px;
  margin-block: 10px;
}

.article_color {
  background-color: #f5f5f5;
}

.article_img {
  width: 100%;
  min-height: 300px;
}

.article_text {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.categories {
  margin-block: 25px;
}

.categories h2 {
  margin-bottom: 25px;
}

.categories_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 284px;
  padding: 26px 27px 22px;
  border: 1px solid #dddddd;
}

.card_img {
  min-height: 369px;
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-self: flex-start;
}

.card_btn {
  border: 1px solid #262629;
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.series {
  margin-block: 75px 130px;
}

.series h2 {
  margin-bottom: 25px;
}

.series_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  background-color: #0c8180;
}

.footer_main {
  font-weight: bold;
  padding-block: 50px;
}

.footer_main p,
a {
  font-size: 18px;
}

.footer_indents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inform {
  padding-inline: 30px;
}

.inform_gen {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.license {
  text-align: center;
}

.license_top {
  font-size: 16px !important;
}

.license_bottom {
  font-size: 14px !important;
  font-weight: lighter;
}

@media (min-width: 608px) {
  .card_wide .card_text {
    align-self: auto;
  }

  .card_wide img {
    min-height: 449px;
  }
}

@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }

  .license_top_m {
    display: none;
  }

  .wide_screen {
    display: block;
  }

  h2 {
    font-size: 36px;
  }

  .breadcrumb span {
    font-size: 16px;
  }

  .article {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
  }

  .article {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .article_text {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
  }

  .article_text span {
    font-size: 16px;
  }

  .article_text p {
    font-size: 18px;
  }

  .article_text b {
    font-size: 18px;
  }

  .categories h2,
  .series h2 {
    font-size: 32px;
  }

  .series {
    margin-block: 148px;
  }

  .license {
    margin-top: 100px;
  }

  .license_top {
    font-size: 18px !important;
  }

  .license_bottom {
    font-size: 16px !important;
    font-weight: bold;
  }

  .inform {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .burger-menu {
    display: none;
  }

  .wide_screen {
    display: block;
  }

  .header_main {
    max-width: 1400px;
    justify-content: flex-end;
    gap: 100px;
  }

  .header_top {
    gap: 250px;
  }

  .header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom_menu {
    gap: 80px;
  }

  .article {
    gap: 60px;
  }
  .categories_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .series_card {
    justify-content: flex-start;
  }

  .card_wide {
    grid-column: span 2;
    width: auto;
  }
}
